{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Hangman Game</h1>

    <div class="row">
        <div class="col-md-4 col-sm-12 text-center mb-md-0 mb-4">
            <p><strong>Theme:</strong> {{ hangman_game.theme_name }}</p>
            <p><strong>Word:</strong> {{ " ".join(hangman_game.guess_word) }}</p>
            <p><strong>Guessed Letters:</strong> {{ hangman_game.get_guessed_letters() }}</p>
            <p><strong>Guesses Left:</strong> {{ hangman_game.get_guesses_left() }}</p>

            <form method="post" action="{{ url_for('single_player_game', theme_id=theme_id) }}">
                <div class="form-group mb-2">
                    <input type="text" name="letter" maxlength="1" pattern="[a-zA-Z]"
                        title="Please enter a single letter (a-z or A-Z)" required autocomplete="off" class="form-control">
                </div>
                {% if end_game == False %}
                <input type="submit" value="Guess" class="btn btn-primary btn-block">
                {% else %}
                <a href="{{ url_for('theme_selection') }}" class="btn btn-primary btn-block">Start Again?</a>
                {% endif %}
            </form>
            <p class="text-center mt-3">{{ game_output[0] }}</p>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
            <div class="hangman-display">
                <img src="{{ url_for('static', filename="game_photo/" + hangman_game.get_hangman_drawing()) }}" alt="Hangman Drawing" class="hangman-image img-fluid">
            </div>
            {% if hangman_game.get_guesses_left() == 0 and user_photo != 'default.jpg' %}

            <div class="user-profile-picture mt-3">
                <img src="{{ url_for('static', filename='profile_photos/' + user_photo) }}" class="rounded-circle move-profile-picture" width="60" height="60">
            </div>

            {% endif %}
        </div>
        
    </div>
    <div class="text-center mt-4">
        <button id="muteButton" class="btn btn-secondary">Mute Sound</button>
        <input id="volumeSlider" type="range" min="0" max="1" step="0.1" value="0.1" class="form-range mt-2">
    </div>
</div>

<audio id="successSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/success.mp3') }}" type="audio/mpeg">
</audio>

<audio id="drawingSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/drawing.mp3') }}" type="audio/mpeg">
</audio>

<audio id="horrorSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/horror.mp3') }}" type="audio/mpeg">
</audio>

<audio id="winnerSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/winner.mp3') }}" type="audio/mpeg">
</audio>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const successSound = document.getElementById("successSound");
        const drawingSound = document.getElementById("drawingSound");
        const horrorSound = document.getElementById("horrorSound");
        const winnerSound = document.getElementById("winnerSound");
        const gameOutput = "{{ game_output }}";
        const guessesLeft = {{ hangman_game.get_guesses_left() }};

        const muteButton = document.getElementById("muteButton");
        const volumeSlider = document.getElementById("volumeSlider");

        const isMuted = localStorage.getItem("isMuted") === "true";
        const savedVolume = parseFloat(localStorage.getItem("volume"));
        
        successSound.muted = isMuted;
        drawingSound.muted = isMuted;
        horrorSound.muted = isMuted;
        winnerSound.muted = isMuted;



        if (!isNaN(savedVolume) && isFinite(savedVolume)) {
            successSound.volume = savedVolume;
            drawingSound.volume = savedVolume;
            horrorSound.volume = savedVolume;
            winnerSound.volume = savedVolume;
        }
        
        volumeSlider.value = savedVolume;
        
        muteButton.addEventListener("click", function() {
            successSound.muted = !successSound.muted;
            drawingSound.muted = !drawingSound.muted;
            horrorSound.muted = !horrorSound.muted;
            winnerSound.muted = !winnerSound.muted;
            

            localStorage.setItem("isMuted", successSound.muted);
        });
        
        volumeSlider.addEventListener("input", function() {
            successSound.volume = volumeSlider.value;
            drawingSound.volume = volumeSlider.value;
            horrorSound.volume = volumeSlider.value;
            winnerSound.volume = volumeSlider.value;
            

            localStorage.setItem("volume", volumeSlider.value);
        });
        
        if (gameOutput.includes("201")) {
            successSound.play();
            setTimeout(function() {
                if (guessesLeft <= 6) {
                    horrorSound.play();
                }
            }, successSound.duration * 600); 
        } else if (gameOutput.includes("203")) {
            drawingSound.play();
            setTimeout(function() {
                if (guessesLeft <= 6) {
                    horrorSound.play();
                }
            }, drawingSound.duration * 1000); 
        } else if (gameOutput.includes("200")) {
            winnerSound.play();
        } else if (guessesLeft <= 6) {
            horrorSound.play();
        }
    });
</script>
{% endblock %}
