{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center">Choose Theme</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="theme-form" method="post" class="theme-form">
                <div class="form-group">
                    <label for="theme"></label>
                    <select name="theme" id="theme" class="form-control">
                        <option value="" selected>Select a Theme</option>
                        {% for theme in themes %}
                        <option value="{{ theme.id }}">{{ theme.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="selected_theme" id="selected_theme" value="">
                <button type="submit" id="submit-btn" style="display: none;"></button>
            </form>
        </div>
    </div>
</div>

<script>
    const themeDropdown = document.getElementById('theme');
    const selectedThemeInput = document.getElementById('selected_theme');
    const themeForm = document.getElementById('theme-form');
    const submitButton = document.getElementById('submit-btn');

    themeDropdown.addEventListener('change', function() {
        const selectedTheme = themeDropdown.value;
        selectedThemeInput.value = selectedTheme;
        themeForm.action = "/game-mode-selection/" + selectedTheme;
        themeForm.submit();
    });
</script>

{% endblock %}
