{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>User Statistics</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Summary</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ total_win }}</td>
                        <td>{{ total_lose }}</td>
                        <td>{{ total_score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <h4>Game Details</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stats in user_stats %}
                    <tr>
                        <td>{{ stats.date }}</td>
                        <td>{{ stats.type }}</td>
                        <td>{{ stats.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
