{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center">Hangman Game</h1>

    <div class="row">
        <div class="col-md-4 text-center">
            <p>Theme: {{ hangman_game.theme_name }}</p>
            <p>Word: {{ " ".join(hangman_game.guess_word) }}</p>
            <p>Guessed Letters: {{ hangman_game.get_guessed_letters() }}</p>
            <p>Guesses Left: {{ hangman_game.get_guesses_left() }}</p>

            <form method="post" action="{{ url_for('single_player_game', theme_id=theme_id) }}">
                <div class="form-group">
                    <input type="text" name="letter" maxlength="1" pattern="[a-zA-Z]"
                        title="Please enter a single letter (a-z or A-Z)" required autocomplete="off" 
                        oninput="playSound()">
                </div>
                {% if end_game == False %}
                <input type="submit" value="Guess" class="btn btn-primary">
                {% else %}
                <a href="{{ url_for('theme_selection') }}" class="btn btn-primary">Start Again?</a>
                {% endif %}
            </form>
            <p class="text-center">{{ game_output[0] }}</p>
            <p class="text-center">{{ game_output[1] }}</p>
        </div>

        <div class="col-md-6 text-center">
            <div class="hangman-display">
                <img src="{{ url_for('static', filename="game_photo/" + hangman_game.get_hangman_drawing()) }}" alt="Hangman Drawing">
            </div>
            {% if hangman_game.get_guesses_left() == 0 and user_photo != 'default.jpg' %}

            <div class="user-profile-picture">
                <img src="{{ url_for('static', filename='profile_photos/' + user_photo) }}" class="rounded-circle move-profile-picture">
            </div>

            {% endif %}
        </div>
        
    </div>
</div>

<audio id="successSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/success.mp3') }}" type="audio/mpeg">
</audio>

<audio id="drawingSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/drawing.mp3') }}" type="audio/mpeg">
</audio>

<audio id="horrorSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/horror.mp3') }}" type="audio/mpeg">
</audio>

<audio id="winnerSound" preload="auto">
    <source src="{{ url_for('static', filename='audio/winner.mp3') }}" type="audio/mpeg">
</audio>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const successSound = document.getElementById("successSound");
        const drawingSound = document.getElementById("drawingSound");
        const horrorSound = document.getElementById("horrorSound");
        const winnerSound = document.getElementById("winnerSound");
        const gameOutput = "{{ game_output }}";
        const guessesLeft = {{ hangman_game.get_guesses_left() }};
        
        if (gameOutput.includes("201")) {
            successSound.play();
            setTimeout(function() {
                if (guessesLeft <= 6) {
                    horrorSound.play();
                }
            }, successSound.duration * 600); 
        } else if (gameOutput.includes("203")) {
            drawingSound.play();
            setTimeout(function() {
                if (guessesLeft <= 6) {
                    horrorSound.play();
                }
            }, drawingSound.duration * 1000); 
        } else if (gameOutput.includes("200")) {
            winnerSound.play();
        } else if (guessesLeft <= 6) {
            horrorSound.play();
        }
    });
</script>
{% endblock %}
