{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Themes</h1>
  {% for theme in all_themes %}
    <div class="theme-container">
      <p>Name: {{ theme.name }}</p>
      <p>Activated? {{ theme.activate }}</p>
      <div class="theme-links">
        <a href="{{ url_for('delete', id=theme.id) }}">Delete</a>
        <a href="{{ url_for('update', id=theme.id) }}">Update</a>
        <a href="{{ url_for('word', theme_id=theme.id, name=theme.name) }}">Words</a>
      </div>
    </div>
  {% endfor %}

  <hr>

  <p><a href="{{ url_for('new_theme')}}">Add new theme</a></p>
{% endblock %}